/* font-family: 'Montserrat',*
sans-serif;
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
:root {
    /* iris */
    --primary-brand: #4d5ae5;
    /* navy blue  */
    --dark: #2e2f42;
    /* green */
    --success: #31d0aa;
    /* slate  */
    --text: #434455;
    /* ligth slate  */
    --subtle-text: #8e8f99;
    /* cornflower  */
    --accent: #e7e9fc;
    /* cloud  */
    --light: #f4f4fd;
    /* shadow */
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
html { box-sizing: border-box;}
*::before,
*::after { box-sizing: border-box;}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: #ffffff;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    box-shadow: var(--card-shadow);
}
.main-nav
{   
    display: flex;
    align-items: center;
    }
.logo {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--dark);
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    }
.foot-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--light);
    text-transform: uppercase;
    }
.low-logo {
    color: var(--primary-brand);
    text-transform: uppercase;
    }
.site-nav {
    display: flex;  
    margin: 0; 
    padding: 0;
    margin-left: 77px; 
    gap: 40px;
}
.nav-links {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-links_current {
        position: relative;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--dark);
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .nav-links_current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--primary-brand);
        opacity: 1;
     }
      
.mail{
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto';     
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;  
    gap: 40px;
    }

.nav-links:hover, 
.nav-links:focus
{
    color: var(--primary-brand);
    
}
.contacts {     
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.contacts:hover,
.contacts:focus {
    color: var(--primary-brand);
    }
ul {
    list-style-type: none;
}
.hero { 
    padding: 192px 0 192px;
    text-align: center;
    max-width: 1440px;  
    min-height: 603px;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Header.jpg);
    background-repeat: no-repeat; 
    background-position: center;    
    background-size: cover;     
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
    width: 492px; 
    font-family: 'Roboto';
    font-weight: 500px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02;
    color: #ffffff;
    margin: 0 auto 48px auto;
    }
button 
{   
    background-color: var(--light);
    color: var(--primary-brand);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
button:hover,
button:focus {
    background-color: var(--primary-brand);
    color: #ffffff;
    box-shadow: var(--card-shadow);
    
    }
.card-content { 
    padding: 16px 32px 16px 32px;
     }
.trailing_icons {
    padding: 0;
        display: flex;
        justify-content: center;
        gap: 24px;    
    }
.trailing_icons_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--primary-brand);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .trailing_icons_icon {
        fill: #F4F4FD;
    }
    
    .trailing_icons_link:hover, 
    .trailing_icons_link:focus {
    background: #31D0AA;
    cursor: pointer;
    }
.card-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    /* identical to box height, or 120% */
    }

.card-text {
    font-family: inherit;
    margin: 0;
    margin-bottom: 8px;
}
.main-button {
    background-color: var(--primary-brand);
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    }
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
    color: #ffffff
    }
.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}
.feature_list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    }
    .card-text{
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
.feature_list .item {
    width: 264px;
    }
    .feature_list
    .item::before {
        display: block;
        content: "";    
        height: 112px;
        background-size: 64px 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;    
    }
    .item:nth-child(1)::before {     
        background-image: url("../images/antenna.svg");
        margin-bottom: 8px;    
    }
    .item:nth-child(2)::before {
        background-image: url("../images/clock.svg");
        margin-bottom: 8px;
    }
    .item:nth-child(3)::before {
        background-image: url("../images/diagram.svg"); 
        margin-bottom: 8px;
    }
    .item:nth-child(4)::before {
        background-image: url("../images/astronaut.svg"); 
        margin-bottom: 8px;
    }
.card-title_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 24px;
    padding-bottom: 120px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.team-list 
{   padding-top: 120px;
    height: 732px;
    background-color: var(--light);
    
    }
.What_are_we_doing
{ 
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 500;
     font-size: 36px;
     line-height: 40px;
     letter-spacing: 0.02em;
     color: #2E2F42;
    }
.our_team
 {
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
    font-weight: 500;
     font-size: 36px;
     line-height: 40px;
     letter-spacing: 0.02;
     color: #2E2F42;
    
}
 /* section-customers */
 .customers {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
    }
    .title-customers {  
        margin-top: 0;  
        margin-bottom: 72px;       
        font-weight: 500;
        font-size: 36px;
        line-height: 1.1;    
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--dark);
    }
    .logo-company {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    } 
    .logo-icon {
    width: calc((100%-5*24px) / 6);
    height: 88px;    
    } 
    .logo-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }    
    .logo-icon-link:hover,
    .logo-icon-link:focus {
    color: var(--primary-brand);
    border: 1px solid var(--primary-brand);
    }
    .logo-icon-company {
    fill: currentColor;
    }
.flex_container {
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0;
     gap: 24px;
    }
.team-list-item {
        width: 264px;
        background-color: #ffffff;
        box-shadow: var(--card-shadow);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: auto;
        display: block;
        }
    .team_list_img_wrapper:hover .overlay,
    .team_list_img_wrapper:focus .overlay
    {   transform: translate(0, 0);
        cursor: pointer;
        
    } 
    .team_list_img_wrapper{
        position: relative;
        overflow: hidden;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .overlay
    {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
        color: #ffffff;
        padding-top: 40px;
        padding-left: 32px;
        background-color: var(--primary-brand);
        opacity: 100%;
        overflow: hidden;
        transform: translate(0, 100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.card-content {
    text-align: center;
    padding: 32px 16px;
 }       
.section-page{
    padding-top: 96px;
    padding-bottom: 120px;
}
.filters {
    padding-top: 96px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    }
.portfolio-btn_list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin:0;
    padding: 0;
    margin-bottom: 72px;
    
}
.portfolio-btn {
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 24px;
    
    }
.portfolio-cards_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
    }
    
.portfolio-cards_item {
    flex-basis: calc((100% - 2 * 24px) / 3) ;
    border: 1px solid #E7E9FC;
    
    overflow: hidden;
    }
    .portfolio-cards_item:hover,
    .portfolio-cards_item:focus
    { box-shadow: var(--card-shadow);
      
      cursor: pointer;
    }
.card-content_portfolio{
    text-align: left;
    padding: 32px 16px;
    background-color: #FFFFFF;
   
    border-radius: 0px 0px 4px 4px;
}
.card-title { margin: 0 0 8px 0;
}
.card-text_portfolio{
    margin: 0;
}
.portfolio-cards_box {
    padding: 32px 16px;
}
.footer {
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
 }
 .footer .container {
    display: flex;
    align-items: baseline;
 }
.footer-text {
    margin: 0;
    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.25;
    margin-top: 16px;
    width: 264px;
}
.social_media {
    margin-left: 120px;   
}
.title_social_media {
    margin: 0px 0px 16px 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.social-list-footer {
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 16px;    
}
.social-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-icon {
    fill: #F4F4FD;
}
.social-footer-link:hover,
.social-footer-link:focus {
    background: #31D0AA;
    cursor: pointer;
    
      
}
/* /.backdrop */
.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.2);

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
visibility: inherit;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: inherit;

}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    margin: 0 auto;
    padding: 24px;

}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid opacity 10% #555555;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.modal-close-btn:hover,
.modal-close-btn:focus
{border-color: var(--accent);
    
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon
{ fill: var(--accent);
        
}

/* ==============MODAL WINDOW=========== */

.leave-your
{
    text-align: center;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 16px;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02;
     color: #2E2F42;
    }
    /*================= modal_form ============ */
    .modal-form {
        display: flex;
        flex-direction: column;
    }
    .modal-form-field {
        margin-bottom: 10px;
    }
    .modal-form-input-desc {
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 4px;
        letter-spacing: 0.01;
        color: #8E8F99;
    }
    .modal-form-input-wrapper {
        display: block;
        position: relative;
    }
    .modal-form-input {
        width: 100%;
        height: 40px;
        color: black;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-input:focus {
        outline: none;
        border-color: var(--primary-brand);
    }

    .icon-icon-name {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0,-50%);
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2E2F42;
    }
    .modal-form-input:focus + .icon-icon-name {
        fill: var(--primary-brand);
    }
    
    .modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8E8F99;
    letter-spacing: 0.04;

}
    .modal-form-message:focus {
        outline: none;
        border-color: var(--primary-brand);
    }

    .modal-form-check-desc::before {
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid #303030;
        content: '';
        cursor: pointer;
        border-radius: 2px;
        margin-right: 10px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

    .modal-form-check:checked + .modal-form-check-desc::before {
        background-image: url(../images/checkbox.jpg);
        
               
    }
    .modal-form-check {
        visibility: hidden;
        
    }
    .modal-form-check:focus + .modal-form-check-desc::before {
        outline: 2px solid #404BBF;
        
            }
    .modal-form-check-desc {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.04;
        color:#757575;
        margin-bottom: 24px;
    }
    .modal-form-submit {
    width: 169px;
    height: 56px;
    align-self: center;
    color: var(--light);
    background-color: var(--primary-brand);
    box-shadow: var(--card-shadow);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .modal-form-submit:hover,
    .modal-form-submit:focus {
    background-color: #ffffff;
    color: var(--primary-brand);
        }
    .footer-email {
        width: 264px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.6);
               
        border-radius: 4px ;
        padding-left: 16px;
        background-color: inherit;
        
    }
    .footer-email::placeholder {
        margin-top: 8px;
        margin-left: 16px;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.04;
        color:rgba(255, 255, 255, 0.6);
         
    }
    input {
        color:rgba(255, 255, 255, 0.3)
    }
    .subscribe {
        display: flex;
        width: 165px;
        height: 40px;
        padding-left: 24px;
       padding-top: 8px;
        align-self: center;
        margin-left: 24px;
        background-color: var(--primary-brand);
        color: #ffffff;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04;
        cursor: pointer;
       padding-right: 16px;
        border-radius: 4px;
        box-shadow: var(--card-shadow);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .icon-subscribe { 
        margin-left: 16px;
        
    }
    .subscribe:hover,
    .subscribe:focus {
    background-color: #ffffff;
    color: var(--primary-brand);
        }
        .email-input {
            display: flex;
        }
        
