/* font-family: 'Montserrat',*
sans-serif;
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
:root {
    /* iris */
    --primary-brand: #4d5ae5;
    /* navy blue  */
    --dark: #2e2f42;
    /* green */
    --success: #31d0aa;
    /* slate  */
    --text: #434455;
    /* ligth slate  */
    --subtle-text: #8e8f99;
    /* cornflower  */
    --accent: #e7e9fc;
    /* cloud  */
    --light: #f4f4fd;
    /* shadow */
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
 /* html { box-sizing: border-box;}
*::before,
*::after { box-sizing: border-box;}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: #ffffff;
} */
.list {
    padding: 0;
    margin: 0;
}
h1,h2,h3,p {
    margin: 0;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.container {
    margin: 0;
    width: 100%;
    padding-left:  16px;
    padding-right: 16px;
} 
@media screen and (min-width: 320px) {
    .hero-title {
        font-size: 36px;
       line-height: 1.1;
       letter-spacing: 0.02em; 
       width: 320px; 
       color: var(--light);
       margin: 0 auto;
       margin-bottom: 72px;
      }

}
@media screen and (min-width: 480px) and (max-width: 767px) 
{
    .container {
        width: 428px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    } 
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 736px;
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
       
     }                             
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        margin-left: 16px;
        margin-right: 16px;
            } 
            .tablet-email {
                display: none;
            }
            .tablet-tel {
                display: none;
            }
            .mobile-menu {
                display: none;
            }
            .mobile-menu-open__icon {
                display: none;
            }
}
@media screen and (max-width: 1199px) {
    .contacts{
        display: none;
    }
    .what_doing {
        display: none;
    }
    .what_are_we_doing{
        display: none;
    }
}
/* 0-767px */
.main-button {
    background-color: var(--primary-brand);
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    }
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
    color: #ffffff
    }
@media screen and (max-width: 767px) {
  
nav {
    display: none;
}
.contacts{
    display: none;
}
.tablet-mail {
    display: none;
}
}
 .low-logo {
        padding-top: 24px;
        padding-left: 0px;
        padding-bottom: 24px;
    }
   .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
      
   } 
   .mobile-menu-open {
    background-color: transparent;
    border-color: none;
    padding: 0;
    line-height: 0;
   }
   @media screen and (max-width: 767px) {
    .mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    transition: opacity 500ms linear, visibility 500ms linear;
    padding: 80px 40px 40px 40px;
   }
   
   .mobile-menu.is-open {
       transform: translateX(0);
   }
   .mobile_nav-links {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--dark);
   }
   .color-link {
    color: var(--primary-brand);
   }
   .mobile-item:not(:last-child)  {
    margin-bottom: 40px;
   }
   .mobile-tel {
    display: block;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    color: var(--primary-brand);
    text-decoration: none;
    margin-bottom: 40px;
}
.mobile-email {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-decoration: none;
   color: var(--dark);
}
.mobile-social-list {
    display: flex;
    gap: 56px;
    margin-top: 48px;
    padding: 0;
}
.mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-brand);
    color: var(--light);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.mobile-social-icon {
    fill: currentColor;
}
.mobile-social-item {
    width: 40px;
    height: 40px;
}
.mobile-wrapper {
    margin-top: auto;
}
   .mobile-menu__container {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
   }
   .mobile-menu__clouse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid opacity 10% #555555;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .hero {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Header.jpg);
    background-repeat: no-repeat; 
    background-position: center;    
    background-size: cover;   
    }
   .hero-title {
     font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em; 
    width: 350px; 
    color: var(--light);
    margin: 0 auto;
    margin-bottom: 72px;
   }
   
   .feature_list .item:nth-child(1)::before {     
    display: none;   
}
   .feature_list .item:nth-child(2)::before {
   display: none;
}
   .feature_list .item:nth-child(3)::before {
    display: none;
}
   .feature_list .item:nth-child(4)::before {
    display: none;
}
   .feature_list {
    display: block;
    text-align: center;    
}
   .feature_list .item:not(:last-child) {
    margin-bottom: 72px;
}
   .feature {
    padding: 96px 0;
}
.card_title {
    
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--dark);
    padding-bottom: 8px;
}
.what_doing {
    display: none;
}
.team-list {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 128px;
    text-align: center;
}

.our_team {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: var(--dark);
}
.card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin: 0;
    margin-bottom: 8px;
 } 
.flex_container{
    width: 264px;
    margin: auto;
    }
.team-list-item {
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);    
}
.team-list-item:not(:last-child) {
    margin-bottom: 72px;}
    .card-title {    
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--dark);
            }
        
.customers {
    display: block;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}
.logo-company {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}
.logo-icon {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
}
.logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
}
.footer {
    background-color: var(--dark);
    padding-top: 96px;
    padding-bottom: 96px;
 }

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     }   

.social_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
}
.footer-form {
    text-align: center;
}
.email-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-email {
    margin-bottom: 16px;
    width: 396px;
}
.subscribe {
    display: flex;
    width: 165px;
    height: 40px;
    padding-left: 24px;
   padding-top: 8px;
    align-self: center;
    background-color: var(--primary-brand);
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04;
    cursor: pointer;
   padding-right: 16px;
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .mobile-menu {display: none; }
    .mobile-menu-open {display: none; }
    .hero-title {
        width: 494px; 
        font-family: 'Roboto';
        font-weight: 500px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02;
        color: #ffffff;
        margin: 0 auto 48px auto;
        } 
        .tablet-mail{
            display: flex;
            flex-direction: column;
            align-items: flex-end;  
        }
    .tablet-email {
            
            text-decoration: none;
            margin: 0;
            padding: 0;
            
            margin-left: auto;
            padding-bottom: 4px;
            font-family: 'Roboto'; 
            font-weight: 400px;    
            font-size: 12px;
            line-height: 16px;  
            letter-spacing: 0.04em; 
            color: var(--text);
            
           }
    .tablet-tel{
            margin-left: auto;
            text-decoration: none;
           
            font-family: 'Roboto'; 
            font-weight: 400px;    
            font-size: 12px;
            line-height: 16px;  
            letter-spacing: 0.04em; 
            color: var(--text);
            
           }
    .hero {
            padding: 112px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Header.jpg);
            background-repeat: no-repeat; 
            background-position: center;    
            background-size: cover;   
            }
        .hero-title {
             font-size: 56px;
            line-height: 60px;
            letter-spacing: 0.02em; 
            width: 500px; 
            color: var(--light);
            margin: 0 auto;
            margin-bottom: 40px;
           }
        .feature_list .item:nth-child(1)::before {     
              
        }
        .feature_list .item:nth-child(2)::before {
           
        }
        .feature_list .item:nth-child(3)::before {
            
        }
        .feature_list .item:nth-child(4)::before {
            
        }
        .feature_list {
            display: flex;
            flex-wrap: wrap;
            gap: 72px 24px;
            margin-right: 0;
            padding-top: 96px;
            padding-bottom: 96px;
          }
          .feature_list .item {
            width: calc((100% - 24px) / 2);
          }             
          .card_title {
            font-size: 36px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            color: var(--dark);
            padding-bottom: 8px;
            }                  
         .our_team
        {
         text-align: center;
         margin: 0;
         margin-bottom: 72px;
         font-weight: 500;
         font-size: 36px;
         line-height: 1.1;
         letter-spacing: 0.02;
         color: #2E2F42;
       } 
         .team-list {
            background-color: var(--light);
            padding-top: 96px;
            padding-bottom: 104px;
            text-align: center;
        }
        .flex_container{
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin-right: 0;
            margin: 0px 108px;
            background-color: white;
        }
        .card-title {
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--dark);
            }
                
        .card-text {        
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--dark);
            margin: 0;
            margin-bottom: 8px;
         }
        .team-list-item {
            width: calc((100% - 24px) / 2);
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
        
        img{
            width: 264px;
            height: auto;
        }
        .customers {
            display: block;
            padding-top: 96px;
            padding-bottom: 96px;
        }
        .logo-company {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px;
           margin: 0 108px;
        }
        .logo-icon {
            flex-basis: calc((100% - 48px) / 3);
            height: 88px;
        }
       .footer .container {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px;
            margin-right: 0;
         }   
         .footer {
            background-color: var(--dark);
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 108px;
            padding-right: 164px;
         }           
        .footer-email {
           width: 264px;
        }
        .subscribe {
            display: flex;
            width: 165px;
            height: 40px;
            padding-left: 24px;
           padding-top: 8px;
            align-self: center;
            margin-left: 24px;
            background-color: var(--primary-brand);
            color: #ffffff;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04;
            cursor: pointer;
           padding-right: 16px;
            border-radius: 4px;
            box-shadow: var(--card-shadow);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}  
@media screen and (min-width: 1200px) {
html { box-sizing: border-box;}
*::before,
*::after { box-sizing: border-box;}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: #ffffff;
} 
    .site-nav{
    display: flex;
    align-items: center;
}
header {
    box-shadow: var(--card-shadow);
} 
.hero-title {
    font-size: 56px;
   line-height: 60px;
   letter-spacing: 0.02em; 
   width: 500px; 
   color: var(--light);
   margin: 0 auto;
   margin-bottom: 40px;
  }
 .feature {
    padding-top: 120px;
    padding-bottom: 120px;
} 
 .feature_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;    
    gap: 24px;
    margin-left: 16px;
    margin-right: 16px;
    } 
   
     .feature_list .item {
        width: 264px;
     }
    .feature_list
    .item::before {
        display: block;
        content: "";    
        height: 112px;
        background-size: 64px 64px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #F4F4FD;    
    }
    .item:nth-child(1)::before {     
        background-image: url("../images/antenna.svg");
        margin-bottom: 8px;    
    }
    .item:nth-child(2)::before {
        background-image: url("../images/clock.svg");
        margin-bottom: 8px;
    }
    .item:nth-child(3)::before {
        background-image: url("../images/diagram.svg"); 
        margin-bottom: 8px;
    }
    .item:nth-child(4)::before {
        background-image: url("../images/astronaut.svg"); 
        margin-bottom: 8px;
    }
    
.card-title_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 24px;
    padding-bottom: 120px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.what_are_we_doing { 
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--dark);
   }
   .team-list 
   {
     margin: 0;
    padding: 0;
    padding-top: 120px;
    height: 780px;
    background-color: var(--light);
   }
 .our_team
 {
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
    font-weight: 500;
     font-size: 36px;
     line-height: 40px;
     letter-spacing: 0.02;
     color: #2E2F42;
    } 
     .flex_container {
     display: flex;
     justify-content: center;
     flex-wrap: nowrap;
     margin: 0;
     padding: 0;
     gap: 24px;
    } 
    .card-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--dark);
        margin: 0;
        margin-bottom: 8px;
     } 
.team-list-item {
        width: 264px;
        background-color: #ffffff;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: auto;
        display: block;
        } 
 /* section-customers */
 .customers {
    
    padding-top: 120px;
    padding-bottom: 120px;
    } 
    .logo-company {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    } 
    .logo-icon {
    width: calc((100%-5*24px) / 6);
    height: 88px;    
    } 
    .footer {
        background-color: var(--dark);
        padding-top: 100px;
        padding-bottom: 100px;
     }
     .social_media {
    margin-left: 120px;  
    margin-right: 80px; 
     } 
     
    .footer .container {
        display: flex;
        flex-wrap: wrap;
        
        row-gap: 100px;
    }   
    .subscribe {
        display: flex;
        width: 165px;
        height: 40px;
        padding-left: 24px;
       padding-top: 8px;
        align-self: center;
        margin-left: 24px;
        background-color: var(--primary-brand);
        color: #ffffff;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04;
        cursor: pointer;
       padding-right: 16px;
        border-radius: 4px;
        box-shadow: var(--card-shadow);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.logo {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--dark);
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    }
.foot-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--light);
    text-transform: uppercase;
    }
.low-logo {
    color: var(--primary-brand);
    text-transform: uppercase;
    }
.site-nav {
    display: flex;  
    margin: 0; 
    padding: 0;
    margin-left: 77px; 
    gap: 40px;
}
.nav-links {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-links_current {
        position: relative;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--dark);
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .nav-links_current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--primary-brand);
        opacity: 1;
     }
      
.mail{
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto';     
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;  
    gap: 40px;
    }   
.nav-links:hover, 
.nav-links:focus
{
    color: var(--primary-brand);    
}
.contacts {     
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
.contacts:hover,
.contacts:focus {
    color: var(--primary-brand);
    }
ul {
    list-style-type: none;
}
.hero { 
    padding: 192px 0 192px;
    text-align: center;
    max-width: 1440px;  
    min-height: 603px;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Header.jpg);
    background-repeat: no-repeat; 
    background-position: center;    
    background-size: cover;     
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button
{   
    background-color: var(--light);
    color: var(--primary-brand);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
button:hover,
button:focus {
    background-color: var(--primary-brand);
    color: #ffffff;
    box-shadow: var(--card-shadow);
    
    }
.card-content {       
    text-align: center;
    padding: 32px 16px;
     }  
     
.trailing_icons {
    padding: 0;
        display: flex;
        justify-content: center;
        gap: 24px;    
    }
.trailing_icons_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--primary-brand);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .trailing_icons_icon {
        fill: #F4F4FD;
    }
    
    .trailing_icons_link:hover, 
    .trailing_icons_link:focus {
    background: #31D0AA;
    cursor: pointer;
    }
/* .card-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    }  */
        
/* identical to box height, or 120% */
/* .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
   
}
@media screen (max-width 1200px) {
    .container {
        width: 1440px;}
    
}
@media screen (max-width 768px) {
    .container {
        width: 768px;}
    
}
@media screen (min-width 480px) {
    .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;}
}
.card-text {
    font-family: inherit;
    margin: 0;
    margin-bottom: 8px;
} */

/* .feature {
    padding-top: 120px;
    padding-bottom: 120px;
} */
/* .feature_list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    } */
    
/* .team-list 
{   padding-top: 120px;
    height: 732px;
    background-color: var(--light);
    
    } */


    .title-customers {  
        margin-top: 0;  
        margin-bottom: 72px;       
        font-weight: 500;
        font-size: 36px;
        line-height: 1.1;    
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--dark);
    }
    
    .logo-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }    
    .logo-icon-link:hover,
    .logo-icon-link:focus {
    color: var(--primary-brand);
    border: 1px solid var(--primary-brand);
    }
    .logo-icon-company {
    fill: currentColor;
    }

    .team_list_img_wrapper:hover .overlay,
    .team_list_img_wrapper:focus .overlay
    {   transform: translate(0, 0);
        cursor: pointer;
    } 
     .team_list_img_wrapper{
        position: relative;
        overflow: hidden;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .overlay
    {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
        color: #ffffff;
        padding-top: 40px;
        padding-left: 32px;
        background-color: var(--primary-brand);
        opacity: 100%;
        overflow: hidden;
        transform: translate(0, 100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
     
.section-page{
    padding-top: 96px;
    padding-bottom: 120px;
}
.filters {
    padding-top: 96px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    }
.portfolio-btn_list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin:0;
    padding: 0;
    margin-bottom: 72px;
    
}
.portfolio-btn {
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 24px;
    
    }
.portfolio-cards_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    flex-basis: calc(100% / 3);
    }
    
.portfolio-cards_item {
    flex-basis: calc((100% - 2 * 24px) / 3) ;
    border: 1px solid #E7E9FC;
    
    overflow: hidden;
    }
    .portfolio-cards_item:hover,
    .portfolio-cards_item:focus
    { box-shadow: var(--card-shadow);
      
      cursor: pointer;
    }
.card-content_portfolio{
    text-align: left;
    padding: 32px 16px;
    background-color: #FFFFFF;
   
    border-radius: 0px 0px 4px 4px;
}
.card-title { margin: 0 0 8px 0;
}
.card-text_portfolio {
    margin: 0;
}
.portfolio-cards_box {
    padding: 32px 16px;
}

  .footer .container {
    display: flex;
    align-items: baseline;
 } 
.footer-text {
    margin: 0;
    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.25;
    margin-top: 16px;
    width: 264px;
}  
.social_media {
    margin-left: 120px;  
    margin-right: 80px; 
     } 
.title_social_media {
    margin: 0px 0px 16px 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.social-list-footer {
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 16px;    
}
.social-footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer-icon {
    fill: #F4F4FD;
}
.social-footer-link:hover,
.social-footer-link:focus {
    background: #31D0AA;
    cursor: pointer;
    
      
}
/* /.backdrop */
.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.2);

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
visibility: inherit;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: inherit;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    margin: 0 auto;
    padding: 24px;
}
@media screen and (min-width: 480px) and (max-width: 767px)  {
    .modal {
        width: 392px;
    }
}
.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid opacity 10% #555555;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);      
}
.modal-close-btn:hover,
.modal-close-btn:focus
{
    border-color: var(--accent);
   }
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon
{ fill: var(--accent);
        
}

/* ==============MODAL WINDOW=========== */

.leave-your
{
    text-align: center;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 16px;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02;
     color: #2E2F42;
    }
    /*================= modal_form ============ */
    .modal-form {
        display: flex;
        flex-direction: column;
    }
    .modal-form-field {
        margin-bottom: 10px;
    }
    .modal-form-input-desc {
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 4px;
        letter-spacing: 0.01;
        color: #8E8F99;
    }
    .modal-form-input-wrapper {
        display: block;
        position: relative;
    }
    .modal-form-input {
        width: 100%;
        height: 40px;
        color: black;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-input:focus {
        outline: none;
        border-color: var(--primary-brand);
    }

    .icon-icon-name {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0,-50%);
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2E2F42;
    }
    .modal-form-input:focus + .icon-icon-name {
        fill: var(--primary-brand);
    }
    
    .modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8E8F99;
    letter-spacing: 0.04;

}
    .modal-form-message:focus {
        outline: none;
        border-color: var(--primary-brand);
    }

    .modal-form-check-desc::before {
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid #303030;
        content: '';
        cursor: pointer;
        border-radius: 2px;
        margin-right: 10px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }

    .modal-form-check:checked + .modal-form-check-desc::before {
        background-image: url(../images/checkbox.jpg);      
               
    }
    .modal-form-check {
        visibility: hidden;
        
    }
    .modal-form-check:focus + .modal-form-check-desc::before {
        outline: 2px solid #404BBF;
        
            }
    .modal-form-check-desc {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.04;
        color:#757575;
        margin-bottom: 24px;
    }
    .modal-form-submit {
    width: 169px;
    height: 56px;
    align-self: center;
    color: var(--light);
    background-color: var(--primary-brand);
    box-shadow: var(--card-shadow);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    }
    .modal-form-submit:hover,
    .modal-form-submit:focus {
    background-color: #ffffff;
    color: var(--primary-brand);
        }
    .footer-email {
        /* width: 264px; */
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.6);          
        border-radius: 4px ;
        padding-left: 16px;
        background-color: inherit;        
    }
    .footer-email::placeholder {
        margin-top: 8px;
        margin-left: 16px;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.04;
        color:rgba(255, 255, 255, 0.6);         
    }
    input {
        color:rgba(255, 255, 255, 0.3)
    }
    
    .icon-subscribe { 
        margin-left: 16px;        
    }
    .subscribe:hover,
    .subscribe:focus {
    background-color: #ffffff;
    color: var(--primary-brand);
        }
        .email-input {
            display: flex;
        }
        .modal-mobile{
          position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 428px;
    height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    margin: 0 auto;
    padding: 24px;
        }
